*{
    padding: 0px;
    margin: 0px;
    font-family: roboto-medium;
}
:root{
    --main-bg-color:gray;
    --nav-button-color:beige;
    --text-color:black;
    --nav-color: red;
    --votaciones-elements: darkgray;
    --hamburguesa-menu-elements: rgb(158, 158, 138);
}
@font-face {
    font-family: roboto-medium;
    src: url(/recursos/tipografia/Roboto-Light.ttf);
}
ul,li{
    text-decoration: none;
    list-style-type: none;
}
/* Navbar */
.Nav{
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    background-color: var(--nav-color);
    width: 100%;
    height: 100px;
}
.Nav__bar{
    display:flex;
    justify-content: center;
    align-content: center;
}
.Nav__bar--Usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
    background-color: var(--nav-button-color);
    padding: 4px;
    border-radius: 10px;
}
.Nav__bar--Leyes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
    background-color:var(--nav-button-color);
    padding: 4px;
    border-radius: 10px;
}
.Nav__bar--Votaciones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
    background-color: var(--nav-button-color);
    padding: 4px;
    border-radius: 10px;
}
.Nav__bar--Hamburguesa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--nav-button-color);
    padding: 4px;
    border-radius: 10px;
    transition-duration: .5s;
    overflow:hidden;
    position: relative;
}
.Nav__bar--Hamburguesa::before{
    position: absolute;
    content: " ";
    background: rgb(250, 0, 0);
    width: 30px;
    height: 4px;
    top: 10px;
    border-radius: 5px;
}
.Nav__bar--Hamburguesa::after{
    position: absolute;
    content: " ";
    background: rgb(250, 0, 0);
    width: 30px;
    height: 4px;
    top: 20px;
    border-radius: 5px;
}
.Nav__bar--Hamburguesa:hover{
    height: 200px;
    width: 100px;
    transition-timing-function: ease;
    overflow:visible;
    transition-duration: .5s;
}
.Nav__bar--Hamburguesa:hover .Hamburguesa__cosa1{
    transition-timing-function: ease;
    display:flex;
}
.Nav__bar--Hamburguesa:hover .Hamburguesa__cosa2{
    transition-timing-function: ease;
    display:flex;
}
.Nav__bar--Hamburguesa:hover .Hamburguesa__cosa3{
    transition-timing-function: ease;
    display:flex;
}
.Nav__bar--Hamburguesa:hover .Hamburguesa__cosa4{
    transition-timing-function: ease;
    display:flex;
}
.Hamburguesa__cosa1{
    display: none;
    margin-top: 100px;
    background-color: var(--hamburguesa-menu-elements);
    margin: 2px;
    transition-delay: .5s;
}
.Hamburguesa__cosa2{
    background-color: var(--hamburguesa-menu-elements);
    margin: 2px;
    display: none;
    transition-delay: .5s;
}
.Hamburguesa__cosa3{
    background-color: var(--hamburguesa-menu-elements);
    margin: 2px;
    display: none;
    transition-delay: .5s;
}
.Hamburguesa__cosa4{
    background-color: var(--hamburguesa-menu-elements);
    margin: 2px;
    display: none;
    transition-delay: .5s;
}
/* Main */

.Main__novedades{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-bg-color);
}
.Main__votaciones{
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100%;
    background-color: var(--main-bg-color);
}
.Main__votaciones--contenedor1{
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.Main__votaciones--contenedor2{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.Main__votaciones--contenedor3{
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.Main__votaciones--titular{
    grid-area: 1 / 1 / 2 / 4; 
}
.Main__votaciones--objeto1{
    width: 100px;
    height: 100px;
    background-color: var(--votaciones-elements);
    margin: 3px;

}
.Main__votaciones--objeto2{
    width: 100px;
    height: 100px;
    background-color: var(--votaciones-elements);
    margin: 3px;

}

.Main__votaciones--objeto3{
    width: 100px;
    height: 100px;
    background-color: var(--votaciones-elements);
    margin: 3px;
}
/* Footer */
.footer{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-color);
}



